$content-primary-color: #ffffff;
$secondary-color: #1da1f2;
$icon-color: #6c63ff;

body {
  margin: 0;
  padding: 0;
}

.reset-form {
  margin-top: 120px;
  h3 {
    text-align: center;
  }
  form {
    padding: 5px;
    text-align: center;
    margin-bottom: 0px;
    input[type="text" i] {
      border: 2px solid $secondary-color;
      border-radius: 5px;
      padding: 7px;
      width: 400px;
    }

    input[type="password" i] {
      border: 2px solid $secondary-color;
      border-radius: 5px;
      padding: 7px;
      width: 400px;
    }

    // span {
    //   color: 4169e1;
    // }
    .form-group {
      span {
        position: absolute;
        margin-left: 10px;
        color: $icon-color;
        margin-top: 6px;
      }
      input {
        text-indent: 20px;
      }
    }

    button {
      border: 2px solid $content-primary-color;
      border-radius: 5px;
      padding: 7px;
      width: 400px;
      color: #fff;
      background-color: $secondary-color;
      font-size: 18px;
    }
  }
}
